.game-container {
    position: relative;
}

img {
    width: 100%;
    height: auto;
    cursor: crosshair;
}

.character-box {
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}

.character-box-container {
    position: absolute;
}
  
.character {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.character:hover {
    background-color: rgb(255, 0, 85);
    border-radius: 10px;
    padding: 10px;
}

.character img {
    width: 40px;
    height: 50px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.found-marker {
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    color: rgb(255, 0, 85);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    border: 5px solid rgb(255, 0, 85);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    font-weight: 700;
}

.popup.found {
    background-color: rgb(0, 128, 64);
}
  
.popup.not-found {
    background-color: rgb(214, 0, 0);
}

.error {
    color: rgb(231, 0, 0);
    font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
    .character img {
        width: 20px;
        height: 30px;
    }

    .found-marker {
        font-size: 1.1rem;
        width: 30px;
        height: 30px;
        line-height: 25px;
        border: 3px solid rgb(255, 0, 85);
    }

    .popup {
        font-size: 0.9rem;
    }

    .character-box {
        font-size: 0.8rem;
    }

    .character {
        padding: 5px;
        gap: 8px;
    }
}
