.game-container {
    position: relative;
}

img {
    width: 100%;
    height: auto;
    cursor: crosshair;
}

.character-box {
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}

.character-box-container {
    position: absolute;
    max-height: 90vh; /* 90% of the viewport height */
    max-width: 90vw; /* 90% of the viewport width */
    overflow: auto; /* Add scrollbars if necessary */
}
  
.character {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.character:hover {
    background-color: rgb(255, 0, 85);
    border-radius: 10px;
    padding: 10px;
}

.character img {
    width: 40px;
    height: 50px;
    border-radius: 10px;
}

.overflowing {
    left: -100%;
    right: 0;
}

.hidden {
    display: none;
}

.found-marker {
    font-size: 3rem;
    position: absolute;
    color: red;
    transform: translate(-50%, -50%);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.1rem;
    border-radius: 10px;
    font-weight: 700;
}

.popup.found {
    background-color: rgb(0, 128, 64);
}
  
.popup.not-found {
    background-color: rgb(214, 0, 0);
}
