.game-container {
    position: relative;
}

img {
    width: 100%;
    height: auto;
    cursor: crosshair;
}

.character-box {
    position: absolute;
    background-color: rgb(59, 59, 59);
    border-radius: 10px;
}
  
.character {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.character:hover {
    background-color: rgb(255, 0, 85);
    border-radius: 10px;
    padding: 10px;
}

.character img {
    width: 40px;
    height: 50px;
    border-radius: 10px;
}

.found-marker {
    font-size: 3rem;
    position: absolute;
    color: red;
    transform: translate(-50%, -50%);
}
